
/* CSS For Wide Screen CSS Code Starts from Here
 Which minimum screen size 1200px */
@media (min-width:1200px) {

/* Default CSS Starts From Here */

* {
    box-sizing: border-box;
}
         
body {
    font-family: Helvetica;
    background-color: white;
    margin: 0;
}
      
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
      
.container {
    width: 1200px;
}
    
/* Default CSS Ends Here */


/* About Section Starts From Here */
.about{
    background-color:#6eaa43;
    height: 860px;
    margin-bottom: 20px;
}

.about .about-inside{
 width:1200px ;
 padding:40px;
 margin:0 auto;
}



.about .about-inside .about-header .header{
    float: left;
    color: White;
    font-size: 35px;
}

.about .about-inside .about-header .prospect{
    float: right;
    margin-bottom: 10px;    
}



.about .about-inside .about-header .prospect .prospect-image{
    float: left; 
}

.about .about-inside .about-header .prospect .prospect-image img{
    height:40px;
    width: 40px;
    margin-right:5px;   
}



.about .about-inside .about-header .prospect .prospect-header {
    float: left;
    color: White;
    line-height: 40px;
    font-size: 35px;
}

.wrapper{


}

.wrapper .section-1{
 margin-top: 95px;
 margin-bottom: 55px;
}


/* Lead-Generation Starts From Here */

.wrapper .section-1 .lead-generation {
 float: left;
 width: 28%;
}

.wrapper .section-1 .lead-generation .lead-image img {
    margin-left: 80px;
}


.wrapper .section-1 .lead-generation .lead-heading  {
   color:white;
   font-weight: bold;
   font-size: 22px;
   margin-top: 20px;
}


.wrapper .section-1 .lead-generation .lead-content  {
    color:white;
    font-size: 16px;
    margin-top: 20px;
}

/* Lead Generation Ends Here */



/* Lead-Importance starts from here */
.wrapper .section-1 .lead-importance {
    float: left;
    width: 28%;
    margin-left: 65px;
    margin-top: -12px;
}
   
.wrapper .section-1 .lead-importance .importance-image img {
    margin-left: 80px;
}
     
.wrapper .section-1 .lead-importance .importance-heading  {
    color:white;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}
      
.wrapper .section-1 .lead-importance .importance-content  {
    color:white;
    font-size: 16px;
    margin-top: 20px;
}
/* Lead Importance Ends here */



/* Lead Techniques starts from here */

.wrapper .section-1 .lead-techniques {
    float: left;
    width: 28%;
    margin-left: 65px;
    margin-top: 0px;
}
   
.wrapper .section-1 .lead-techniques .techniques-image img {
    margin-left: 80px;
}
   
   
.wrapper .section-1 .lead-techniques .techniques-heading  {
    color:white;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
}
   
   
.wrapper .section-1 .lead-techniques .techniques-content  {
    color:white;
    font-size: 16px;
    margin-top: 20px;
}

/* Lead Techniques ends here */



/* Lead-Generation Starts From Here */

.wrapper .section-2 .generate-lead {
    float: left;
    width: 28%;
    margin-left: 0px;
    margin-top: 10px;
}
   
.wrapper .section-2 .generate-lead .generate-image img {
       margin-left: 80px;
}
   
   
.wrapper .section-2 .generate-lead .generate-heading  {
      color:white;
      font-weight: bold;
      font-size: 22px;
      margin-top: 20px;
}
   
   
.wrapper .section-2 .generate-lead .generate-content  {
       color:white;
       font-size: 16px;
       margin-top: 20px;
}
   
   /* Lead Generation Ends Here */




/* About Section Ends Here */
}

/* Wide Screen Ends Here */